<?xml version="1.0"?>
<launch>
  <!-- Set the car to be simulator -->
  <arg name="racecar_version" default="ddrxNUC3"/>
  <param name="/racecar_version" value="$(arg racecar_version)"/>
  <!-- pacejka or linear -->
  <arg name="tire_model" default="pacejka"/> 
  <param name="/tire_model" value="$(arg tire_model)"/>
  <!-- initial pose (map frame) -->
  <arg name="init_x" default="10.17"/>
  <arg name="init_y" default="5.66"/>
  <arg name="init_yaw" default="1.318"/>  <!-- radians -->

  <!-- rviz bool -->
  <arg name="rviz" default="True"/>
  
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_name)"/>

  <!-- Launch the racecar model -->
  <include file="$(find f1tenth_simulator)/launch/racecar_model.launch"/>

  <!-- Add the tire parameters -->
  <rosparam ns="model_params" command="load" file="/home/ddrx/f1tenth_ws/params/tire/$(arg tire_model).yaml"/>
  
  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="f1tenth_simulator" name="f1tenth_simulator" type="simulator" output="screen">
    <rosparam command="load" file="$(find f1tenth_simulator)/pbl_params.yaml"/>
    <rosparam command="load" file="$(arg map_name)"/>
  </node>

  <rosparam file="/home/ddrx/f1tenth_ws/params/ddrx_unified_params.yaml" command="load"/>
  
  <node pkg="nonlinear_mpc_casadi" type="publish_initialpose.py" name="publish_initialpose" output="screen">
    <param name="x" value="$(arg init_x)"/>
    <param name="y" value="$(arg init_y)"/>
    <param name="yaw" value="$(arg init_yaw)"/>
    <param name="frame_id" value="map"/>
    <param name="delay" value="1.0"/>
  </node>

  <!-- Launch RVIZ -->
  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find f1tenth_simulator)/launch/simulator.rviz" output="screen"/>
  </group>
  
</launch>
